<h2>
<span>LINEで送る。</span><span>それだけで解説が届く!</span>
</h2>
<h3>
    必要なのはLINEアカウントだけです
</h3>
<section class='manga2' pics='["top4koma_1.png","top4koma_2.png","top4koma_3.png","top4koma_4.png"]' aspectratio='0.537'></section>
<section class='slide_card' pic='tokuchou_2-300x300.png' titles='["わからないところだけを、","ピンポイントで解説"]' content='受け身の「授業」という形態は非効率だと私たちは考えております。<br>授業の大半は「すでに理解している内容」か、「聞いてもわからない内容」かのどちらかです。<br>'></section>

<h2>まずは無料で１問お試しください</h2>
<h3>わからない問題を写真に撮って送るだけ</h3>
<section class='manga2' pics='["mazuha_1.png","mazuha_2.png","mazuha_3.png","mazuha_4.png"]' aspectRatio='0.537'></section>
<section class='slide_card' pic='tokuchou_1-300x300.png' titles='["24時間以内だから、","忘れる前に必ず理解して解決"]' content='今日出てきた疑問は今日解決しましょう。<br>少なくとも忘れてしまう前に、熱いうちに自分のものにしておくことが大事です。'></section>


<h2>こんな動画が届きます</h2>
<h3>わからない問題をピンポイントで解説</h3>
<section id='movies' class='movies' movies='["https://www.youtube.com/embed/OFU_0lqxn40","https://www.youtube.com/embed/S2UR4m1Q-KY"]'></section>
<section class='slide_card' pic='tokuchou_3-300x300.png' titles='["繰り返し何度も見て、","「わかる」までたどり着く"]' content='授業中に先生に質問することはとても勇気がいることです。<br>大人でもセミナー会場で積極的に発言できる人がどれだけいることでしょう？<br>ですが、動画解説であればわかるまで何度も止めて見返すことができます。'></section>

<section>
    <ul class='movie_view'>
        <li>中学受験専門のプロ講師が動画を作成します</li>
        <li>動画を見てもわからないときは、「わかる」まで再解説します</li>
    </ul>
</section>

<h2>利用シーン</h2>
<h3>充実した自宅学習の実現</h3>
<section class='manga2' pics='["jitaku1_1.png","jitaku1_2.png"]' aspectRatio='0.537'></section>
<section class='manga2' pics='["jitaku2_1.png","jitaku2_2.png"]' aspectRatio='0.537'></section>

<h3>テスト前後の対策に</h3>
<section class='manga2' pics='["konna1_1.png","konna1_2.png"]' aspectRatio='0.537'></section>
<section class='manga2' pics='["konna2_1.png","konna2_2.png"]' aspectRatio='0.537'></section>

<h3>行き詰まった時の解消に</h3>
<section class='manga2' pics='["konna3_1.png","konna3_2.png"]' aspectRatio='0.537'></section>
<section class='manga2' pics='["konna4_1.png","konna4_2.png"]' aspectRatio='0.537'></section>
<h3>公立中学の対策に</h3>
<section class='manga'  pics='["konna5_1.png","konna5_2.png"]' aspectRatio='0.537'></section>
<h3>個別指導を考える前に</h3>
<section class='manga2' pics='["konna6_1.png","konna6_2.png"]' aspectRatio='0.537'></section>
<section class='manga2' pics='["konna7_1.png","konna7_2.png"]' aspectRatio='0.537'></section>



<h2>コースと価格</h2>
<section id='course' class='course'></section>